@import "tailwindcss";

@layer utilities {

    #navLinks.active {
        transform: translateX(0);
    }

    #navOverlay.active {
        opacity: 1;
        pointer-events: auto;
    }

}

/* =========================
   REVIEW SLIDER
========================= */

.review-slide {
    width: 100%;
}

@media (min-width: 640px) {
    .review-slide {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .review-slide {
        width: 33.333333%;
    }
}